.container {
  width: 100%;
  min-height: 500px;
  display: flex;
  margin-top: 64px;
  position: relative;
}

.container-form-edit:nth-child(1) {
  width: 50%;
  height: 100%;
  padding: 30px;
  box-shadow: 0 8px 6px -6px black;
}

@media only screen and (max-width: 1210px) {
  .container-form-edit:nth-child(1) {
    width: 100%;
    height: 100%;
    padding: 30px;
    box-shadow: 0 8px 6px -6px black;
  }
}
