.login-form {
  width: 100%;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.form-container {
  width: 50%;
  min-height: 100px;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-header-home {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #29263500;
}
.container-class {
  width: 100%;
  height: 500px;
}
.avatar-hover {
  transition: all ease-in 600ms;
}
.avatar-hover:hover {
  box-shadow: 2px 2px 4px #000000;
}
.result-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
