.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.subject-panel {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  /* overflow: auto; */
}
.button-create-class {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2%;
  cursor: pointer;
  transition: all ease-in 200ms;
  border-radius: 100%;
  background-color: #3084e4;
}
.button-create-class:hover {
  color: #3084e4;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
